<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beltline</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

    <div id="map"></div>

    <script async defer
    src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyAR8n1NSCAnouGzRyp1dJy15Oh704K3lA0&libraries=visualization&callback=initMap">
    </script>
    <script>
    var map;
function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
    zoom: 11,
    center: {lng:-84.3880 , lat: 33.7490},
    mapTypeId: 'terrain'
  });

  // Create a <script> tag and set the USGS URL as the source.
  // var script = document.createElement('script');

  // JSON OBJECT FROM HARDWARE
  // script.src = 'https://developers.google.com/maps/documentation/javascript/examples/json/earthquake_GeoJSONP.js';
  // document.getElementsByTagName('head')[0].appendChild(script);

  var results = {{ data | tojson}};
  console.log(results);

  var heatmapData = [];
  var maxMag = 0;

  Object.keys(results).forEach(function(key) {
    var latLng = new google.maps.LatLng(results[key].location[0], results[key].location[1])
    var magnitude = results[key].activity_v;
    if (maxMag < magnitude) {
        maxMag = magnitude;
    }

    var weightedLoc = {
      location : latLng,
      weight : magnitude
    };
    heatmapData.push(weightedLoc);

  });

  /*var heatmap = new google.maps.visualization.HeatmapLayer({
    data:heatmapData,
    dissipating:true,
    map: map
    });
  */
  var lines = [];
  for (var i = 0; i < heatmapData.length - 1; ++i) {
    lines.push(new google.maps.Polyline({
        path: [heatmapData[i].location, heatmapData[i + 1].location],
        strokeColor: determineColor(heatmapData[i].weight, heatmapData[i + 1].weight, maxMag), //add in function to determine color based on magnitude
        strokeOpacity: 1.0,
        strokeWeight: 2
    }));
  }
  for (var i = 0; i < lines.length; ++i) {
    lines[i].setMap(map);
  }
}

function determineColor(mag1, mag2, maxMag) {
    var relativeMag = Math.floor((mag1 + mag2)/(maxMag * 2));
    var redVal = 0x000000 + (0xFF0000 * relativeMag);
    var greenVal = 0x00FF00 - (0x00FF00 * relativeMag);
    return "#" + (redVal + greenVal).toString();
}

function eqfeed_callback(results) {
  var heatmapData = [];
  for (var i = 0; i < results.features.length; i++) {
    var coords = results.features[i].geometry.coordinates;
    var latLng = new google.maps.LatLng(coords[1], coords[0]);
    var magnitude = results.features[i].properties.mag;
    var weightedLoc = {
      location: latLng,
      weight: Math.pow(2, magnitude)
    };
    heatmapData.push(weightedLoc);
  }
  var heatmap = new google.maps.visualization.HeatmapLayer({
    data: heatmapData,
    dissipating: false,
    map: map
  });
}





function eqfeed_callback(results) {
  console.log('callback');
  var heatmapData = [];
  for (var i = 0; i < results.features.length; i++) {
    var coords = results.features[i].geometry.coordinates;
    var latLng = new google.maps.LatLng(coords[1], coords[0]);
    heatmapData.push(latLng);
  }
  var heatmap = new google.maps.visualization.HeatmapLayer({
    data: heatmapData,
    dissipating: false,
    map: map
  });
}
    </script>
    <p>
    	Team SquiggleDoobs
    </p>

    <div id="main">
        <svg width="100%" height="740" style="border: 1px solid #777;">
        </svg>
    </div>
</body>
<script src="https://d3js.org/d3.v4.min.js"></script>
</html>
