<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beltline</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

    <div id="map"></div>

    <script async defer
    src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyAR8n1NSCAnouGzRyp1dJy15Oh704K3lA0&libraries=visualization&callback=initMap">
    </script>
    <script>
    var map;

    var heatmap;
    var center = {lat:33.769959, lng:-84.363147};

    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: {lat:33.769959, lng:-84.363147}
      });
      var bikelayer = new google.maps.BicyclingLayer();
      bikelayer.setMap(map);

      // Create a <script> tag and set the USGS URL as the source.
      // var script = document.createElement('script');

      // JSON OBJECT FROM HARDWARE
      // script.src = 'https://developers.google.com/maps/documentation/javascript/examples/json/earthquake_GeoJSONP.js';
      // document.getElementsByTagName('head')[0].appendChild(script);

      var results = {{ data | tojson}};
      console.log(results);

      var heatmapData = [];
      var maxMag = 1;

      Object.keys(results).forEach(function(key){


        var latLng = new google.maps.LatLng(results[key].location[0], results[key].location[1])
        var magnitude = results[key].activity_v;
        if (maxMag < magnitude) {
                maxMag = magnitude;
            }

        var weightedLoc = {
          location : latLng,
          weight : magnitude
        };
        heatmapData.push(weightedLoc);

      });

      heatmapView(heatmapData, map);


      // Create the DIV to hold the control and call the CenterControl()
        // constructor passing in this DIV.
        var centerControlDiv = document.createElement('div');
        var centerControl = new toggleCenter(centerControlDiv, map);

        centerControlDiv.index = 2;
        map.controls[google.maps.ControlPosition.TOP_CENTER].push(centerControlDiv);

        // Create the DIV to hold the control and call the CenterControl()
        // constructor passing in this DIV.
        var heatMapControlDiv = document.createElement('div');
        var heatMapControl = new toggleHeatMap(heatMapControlDiv, map);

        heatMapControlDiv.index = 2;
        map.controls[google.maps.ControlPosition.BOTTOM_CENTER].push(heatMapControlDiv);

        // Create the DIV to hold the control and call the CenterControl()
        // constructor passing in this DIV.
        var trafficControlDiv = document.createElement('div');
        var trafficControl = new toggleTraffic(trafficControlDiv, map);

        trafficControlDiv.index = 2;
        map.controls[google.maps.ControlPosition.BOTTOM_CENTER].push(trafficControlDiv);


    }



    function heatmapView(heatmapData, map) {
        heatmap = new google.maps.visualization.HeatmapLayer({
          data:heatmapData,
          dissipating:true,
          map: map
          });
    }

    function trafficView(heatmapData, map) {
        var lines = [];
        for (var i = 0; i < heatmapData.length - 1; ++i) {
          lines.push(new google.maps.Polyline({
              path: [heatmapData[i].location, heatmapData[i + 1].location],
              strokeColor: determineColor(heatmapData[i].weight, heatmapData[i + 1].weight, maxMag), //add in function to determine color based on magnitude
              strokeOpacity: 1.0,
              strokeWeight: 2
          }));
        }
        for (var i = 0; i < lines.length; ++i) {
          lines[i].setMap(map);
        }
    }

    function determineColor(mag1, mag2, maxMag) {
        var relativeMag = Math.floor((mag1 + mag2)/(maxMag * 2));
        var redVal = 0x000000 + (0xFF0000 * relativeMag);
        var greenVal = 0x00FF00 - (0x00FF00 * relativeMag);
        var finalVal = (redVal + greenVal);
        if (finalVal < 0x010000) {
            finalVal = "#00" + finalVal.toString(16);
        } else if (finalVal < 0x100000) {
            finalVal = "#0" + finalVal.toString(16);
        } else {
            finalVal = "#" + finalVal.toString(16);
        }
        console.log("finalVal:" + finalVal);
        console.log("redVal:" + redVal);
        console.log("greenVal:" + greenVal);
        return finalVal;
    }




    /**
       * The CenterControl adds a control to the map that recenters the map on
       * Chicago.
       * This constructor takes the control DIV as an argument.
       * @constructor
       */
      function toggleCenter(controlDiv, map) {

        // Set CSS for the control border.
        var controlUI = document.createElement('div');
        controlUI.style.backgroundColor = '#fff';
        controlUI.style.border = '2px solid #fff';
        controlUI.style.borderRadius = '3px';
        controlUI.style.boxShadow = '0 2px 6px rgba(0,0,0,.3)';
        controlUI.style.cursor = 'pointer';
        controlUI.style.marginBottom = '22px';
        controlUI.style.textAlign = 'center';
        controlUI.title = 'Click to recenter the map';
        // controlUI.style.marginLeft = '0px';
        controlDiv.appendChild(controlUI);

        // Set CSS for the control interior.
        var controlText = document.createElement('div');
        controlText.style.color = 'rgb(25,25,25)';
        controlText.style.fontFamily = 'Roboto,Arial,sans-serif';
        controlText.style.fontSize = '16px';
        controlText.style.lineHeight = '38px';
        controlText.style.paddingLeft = '5px';
        controlText.style.paddingRight = '5px';
        controlText.innerHTML = 'Center Map';
        controlUI.appendChild(controlText);

        // Setup the click event listeners: simply set the map to Chicago.
        controlUI.addEventListener('click', function() {
          map.setCenter(center);
        });

      }

      function toggleHeatMap(controlDiv, map) {

        // Set CSS for the control border.
        var controlUI = document.createElement('div');
        controlUI.style.backgroundColor = '#fff';
        controlUI.style.border = '2px solid #fff';
        controlUI.style.borderRadius = '3px';
        controlUI.style.boxShadow = '0 2px 6px rgba(0,0,0,.3)';
        controlUI.style.cursor = 'pointer';
        controlUI.style.marginBottom = '0px';
        controlUI.style.textAlign = 'center';
        controlUI.title = 'Click to recenter the map';
        controlUI.style.marginRight = '15px';
        controlDiv.appendChild(controlUI);

        // Set CSS for the control interior.
        var controlText = document.createElement('div');
        controlText.style.color = 'rgb(25,25,25)';
        controlText.style.fontFamily = 'Roboto,Arial,sans-serif';
        controlText.style.fontSize = '16px';
        controlText.style.lineHeight = '38px';
        controlText.style.paddingLeft = '5px';
        controlText.style.paddingRight = '5px';
        controlText.innerHTML = 'HeatMap View';
        controlUI.appendChild(controlText);

        // Setup the click event listeners: simply set the map to Chicago.
        controlUI.addEventListener('click', function() {
          heatmap.setMap(heatmap.getMap() ? null : map);
        });

      }

       function toggleTraffic(controlDiv, map) {

        // Set CSS for the control border.
        var controlUI = document.createElement('div');
        controlUI.style.backgroundColor = '#fff';
        controlUI.style.border = '2px solid #fff';
        controlUI.style.borderRadius = '3px';
        controlUI.style.boxShadow = '0 2px 6px rgba(0,0,0,.3)';
        controlUI.style.cursor = 'pointer';
        controlUI.style.marginBottom = '0px';
        controlUI.style.textAlign = 'center';
        controlUI.title = 'Click to recenter the map';
        // controlUI.style.marginLeft = '2px';
        controlDiv.appendChild(controlUI);

        // Set CSS for the control interior.
        var controlText = document.createElement('div');
        controlText.style.color = 'rgb(25,25,25)';
        controlText.style.fontFamily = 'Roboto,Arial,sans-serif';
        controlText.style.fontSize = '16px';
        controlText.style.lineHeight = '38px';
        controlText.style.paddingLeft = '5px';
        controlText.style.paddingRight = '5px';
        controlText.innerHTML = 'Traffic View';
        controlUI.appendChild(controlText);

        // Setup the click event listeners: simply set the map to Chicago.
        controlUI.addEventListener('click', function() {
          // heatmap.setMap(heatmap.getMap() ? null : map);
        });

      }

        </script>
        <p>
        	Team SquiggleDoobs
        </p>

        <div id="main">
            <svg width="100%" height="740" style="border: 1px solid #777;">
            </svg>
        </div>
</body>
<script src="https://d3js.org/d3.v4.min.js"></script>
</html>
